@charset "utf-8";

/*
	Main stylesheet for Green Living Web Page
	Author: Sarah Luo
	Date: 9/8/2017

	Filename: gl_styles.css

*/

html {
	background: #390;
}

/* Body Styles */

body {
	max-width: 960px;
	margin: auto;
	padding: 10px;
	background: white;
	box-shadow: rgb(51, 51, 51) -15px 0px 25px,
				rgb(51, 51, 51) 15px 0px 25px;
}

/* Header Styles */

header {
	padding: 5px;
	border-bottom: 15px solid rgb(204, 122, 0);
}

header img {
	width: 20%;
	/*vertical-align: middle;*/
}

header h1 {
	display: inline-block;
	padding-left: 20px;
	font-size: 3em;
	font-family: Garamond, Georgia, serif;
	position: relative;
	top: -20px;
}

/* Article Styles */

article {
	margin-top: 20px;
	padding: 15px;
}

article h2 {
	font-size: 1.4em;
}

article p{
	margin: 20px 30px 20px 30px;
}

article blockquote {
	width: 50%;
	margin: auto;
}

/* Link Styles */
a {
	font-weight: bold;
	color: rgb(51, 153, 51);
}

a:hover {
	text-decoration: none;
}

a:visited {
	font-weight: bold;
	color: rgb(204, 122, 0);
}

/* Slideshow Styles */
div.slideShow {
 border: 1px solid rgb(204, 122, 0);
 width: 50%;
 height: 380px;
 margin: auto;
 text-align: center;
 padding: 20px;
 
}

div.slideShow img {
	width: 100%;
	display: block;
	visibility: hidden;
}

div.slideShow figcaption {
	margin-top: 5px;
	margin-bottom: 20px;
	font-family: Garamond, Georgia, serif;
	font-size: 0.9em;
	visibility: hidden;
}

div#buttonContainer{
	width: 50%;
	margin: auto;
	text-align: center;
	margin-top: 10px;
}

input.slideShowNav {
	display: none;
}


/* List Styles */

ul {
	margin-left: 20px;
	list-style-type: disc;
}

article > ul {
	width: 70%;
	margin: auto;
}

ul ul {
	list-style-type: circle;
}

ul ul ul {
	list-style-type: square;
}

/* Pledge Div Styles */

div.pledge {
 border: 1px solid rgb(204, 122, 0);
 width: 50%;
 min-height: 200px;
 margin: auto;
 padding: 20px;
}

div.pledge h2 {
	display: inline;
}

p.thankYouMessage {
	text-align: center;
	font-weight: bold;
	font-size: 1.2em;
}


/* Footer Styles */
footer {
	text-align: center;
	background: -webkit-radial-gradient(white, rgb(204, 122, 0));
	background: -o-radial-gradient(white, rgb(204, 122, 0));
	background: -moz-radial-gradient(white, rgb(204, 122, 0));
	background: radial-gradient(white, rgb(204, 122, 0));
}